In [58]:
metrics = "../Data/Barcelona/04Stage/Metrics/allMetrics.pkl"
scores = "../Data/Barcelona/03Stage/finalMetadataBarcelona.csv"

In [59]:
import os 
import pickle
import networkx as nx
import pandas as pd

try:
    with open(metrics, "rb") as f:
        deserializedFile = pickle.load(f)
except FileNotFoundError:
    print(f"File '{metrics}' not found in '{metrics}'.")
except nx.NetworkXError as e:
    print(f"Error reading graph from '{metrics}': {e}")

In [60]:
try:
    # Open the CSV file
    # Create a CSV reader object
    dfScore = pd.read_csv(scores)
except FileNotFoundError:
    print("The file does not exist.")
except Exception as e:
    print("An error occurred:", e)

In [61]:
for score in dfScore["Score"].unique():
    metricsTable = pd.DataFrame()

    for element in deserializedFile:
        if score in deserializedFile[element]:
            df = pd.DataFrame.from_dict(deserializedFile[element][score], orient='index')        
            df_no_nan = df.fillna(" ")
            df_no_blank = df_no_nan.replace(" ", float('nan'))  # Replace blank spaces with NaN
            #df_filled_int = df_no_blank.astype(float).astype('Int64')  # Convert to integers

            #df_string = df_filled_int.to_string(header=False)

            # Calculate mean, standard deviation, and count
            mean_values = df_no_blank.mean(axis=1).round(2)
            std_values = df_no_blank.std(axis=1).round(2)
            count_values = df_no_blank.count(axis=1)
            metricsTable = pd.concat([metricsTable, mean_values.rename('Mean'), std_values.rename('Std'), count_values.rename('Count')], axis=1)
    metricsTable.to_csv(f"Barcelona/Individual/{score}_individualMetrics.csv", index = True)

In [62]:
metricsTable

,Mean,Std,Count,Mean,Std,Count,Mean,Std,Count,Mean,Std,Count,Mean,Std,Count
4691,0.0,NaN,1,2.0,NaN,1,0.0,NaN,1,0.00,NaN,1,0.00,NaN,1
5213,2.0,NaN,1,2.0,NaN,1,0.0,NaN,1,0.09,NaN,1,0.23,NaN,1
5470,2.0,NaN,1,2.0,NaN,1,0.0,NaN,1,0.10,NaN,1,0.28,NaN,1
5203,2.0,NaN,1,2.0,NaN,1,0.0,NaN,1,0.12,NaN,1,0.31,NaN,1
5506,3.0,NaN,1,3.0,NaN,1,0.0,NaN,1,0.16,NaN,1,0.31,NaN,1
5246,2.0,NaN,1,2.0,NaN,1,0.0,NaN,1,0.09,NaN,1,0.32,NaN,1
5211,1.0,NaN,1,2.0,NaN,1,0.0,NaN,1,0.03,NaN,1,0.21,NaN,1
11094,0.0,NaN,1,1.0,NaN,1,0.0,NaN,1,0.00,NaN,1,0.00,NaN,1
5503,1.0,NaN,1,1.0,NaN,1,0.0,NaN,1,0.03,NaN,1,0.10,NaN,1
4320,2.0,NaN,1,0.0,NaN,1,0.0,NaN,1,0.00,NaN,1,0.40,NaN,1
6400,2.0,NaN,1,0.0,NaN,1,0.0,NaN,1,0.00,NaN,1,0.45,NaN,1